/* Спецификация */
ul, li {
    display: block;
    padding: 0;
    margin: 0;
}

/* Навигация */
.header {
    background: url('../img/header_background.png') no-repeat center;
}

.logo {
    margin-top: 15px;
}

.menu {
    margin-top: 36px;
}

.menu__item {
    margin-right: 25px;
    white-space: nowrap;
}

.menu__item:last-child {
    margin: 0;
}

.menu__item a {
    font-family: 'Roboto', serif;
    font-weight: 900;
    font-size: 1.063em;
    color: #ffffff;
    word-wrap: normal;    
}

.menu__item a:hover {
    color: #00e0d0;
    text-decoration: none;
}

/* Слайдер */
.headercarousel {
    margin-top: 165px;
}

.slider_item {
    text-align: center;
    padding: 100px;
}

.carousel-item h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    color: #ffffff;
    font-size: 32pt;
    text-align: center;
}

.carousel-item p {
    font-family: 'Roboto', serif;
    font-weight: 300;
    color: #ffffff;
    font-size: 14pt;
}