/* Спецификация */
ul, li {
    display: block;
    padding: 0;
    margin: 0;
}

/* Навигация */
.header {
    background: url('../img/header_background.png') no-repeat center top;
}

.logo {
    margin-top: 15px;
}

.menu ul {
    margin-top: 21px;
}

.menu__item:not(:first-child) {
    margin-left: 25px;
    white-space: nowrap;
}

.menu__item a {
    font-family: 'Roboto', serif;
    font-weight: 900;
    font-size: 1.063em;
    color: #ffffff;
    word-wrap: normal;    
}

.menu__item a:hover {
    color: #00e0d0;
    text-decoration: none;
}

.menu_icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* Слайдер */
.headercarousel {
    margin-top: 165px;
}

.slider-item {
    text-align: center;
    padding: 58px 100px 135px 100px;
}

.carousel-item h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    color: #ffffff;
    font-size: 32pt;
    text-align: center;
}

.carousel-item h1::after {
    content: "";
    background-color: #00e0d0;
    width: 50px;
    height: 1px;
    position: absolute;
    left: 48%;
    top: 70px;
}

.carousel-item .slider-item_text {
    font-family: 'Roboto', serif;
    font-weight: 300;
    color: #ffffff;
    font-size: 14pt;
}

.slider-item_button {
    font-family: 'Hammersmith One', serif;
    font-weight: 400;
    font-size: 16pt;
    color: #00e0d0;
    background-color: transparent;
    border: #00e0d0 solid 1px;
    margin-top: 52px;
    text-align: center;
    vertical-align: middle;
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.slider-item_button:hover {
    color: #ffffff;
    background-color: #00e0d0;
    border-color: #00e0d0;
    text-decoration: none;
}

.slider-item_button:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 224, 208, 0.5);
  }

.slider-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
}

.slider-indicators li {
    box-sizing: content-box;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: transparent;
    background-clip: padding-box;
    border: 1px solid #ffffff;
}

@media (prefers-reduced-motion: reduce) {
    .slider-indicators li {
        transition: none;
    }
}
  
.slider-indicators .active {
    border-color: #00e0d0;
    background-color: #00e0d0;
}

/* О нас */
.story {
    padding: 70px 0;
}

.story__image {
    align-items: center;
}

.story__title {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 22pt;
    color: #413d4b;
    letter-spacing: 2px;
}

.story__text {
    font-family: 'Roboto', serif;
    font-weight: 300;
    font-size: 14pt;
    line-height: 22pt;
    color: #413d4b;
}

.story__button {
    margin-top: 30px;
}

.story__video {
    height: 0;
    overflow: hidden;
    position: relative;
    padding-bottom: 56.25%;
}

.story__video iframe {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/* Медиа */
@media screen and (max-width: 991px) {
    .headercarousel {
        margin-top: 10px;
    }

    .slider-item {
        text-align: center;
        padding: 30px 10px 30px 10px;
    }

    .menu__item:not(:first-child) {
        margin-left: 0;
    }
}

@media screen and (max-width: 767px) {
    .carousel-item h1::after {
        top: 120px;
    }

    .story {
        padding: 20px 0;
    }

    .story__title {
        text-align: center;
    }
    
    .story .story__button {
        text-align: center;
    }
}
