body {
    font-family: 'Playfair Display', serif;
}

.header {
    background: url("img/header_background.png") no-repeat center;
}

.logo {
    font-size: 30pt;
    vertical-align: middle;
}

.nav a {
    font-size: 13pt;
}